<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>PartsOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Add a coating</h1>
    <div>
        <form th:object="${coating}" th:action="@{/savecoating}" action="#" method="post">
            <label for="material">Material:</label><br>
            <input type="text" id="material" th:field="*{material}" /><br>
            <label for="thickness">Thickness:</label><br>
            <input type="text" id="srfcarea" th:field="*{thickness}" /><br>
            <input type="submit" value="Add" class="btn btn-success" /><br>
            <br>
        </form>
        <a href="/coatinglist" class="btn btn-danger">Back</a><br>
        <br>
        <a href="/index" class="btn btn-danger">Home</a>
    </div>
</body>

</html>