<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>PartsOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Coatings</h1>
    <table class="table table-striped">
        <tr>
            <!-- <th>Id</th> -->
            <th>Material</th>
            <th>Thickness</th>
        </tr>
        <tr th:each="coating : ${coatings}">
            <!-- <td th:text="${coating.coatingId}"></td> -->
            <td th:text="${coating.material}"></td>
            <td th:text="${coating.thickness}"></td>
            <td><a th:href="@{/editcoating/{id}(id=${coating.coatingId})}" class="btn btn-success">Edit</a></td>
            <!-- <td><a th:href="@{/deletepart/{id}(id=${part.partId})}" class="btn btn-danger">Delete</a></td> -->
        </tr>
    </table>
    <br>
    <a href="/addcoating" class="btn btn-success">Add a coating</a><br>
    <br>
    <a href="/index" class="btn btn-danger">Home</a>
    </br>
</body>

</html>