<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>PartsOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Edit a Part</h1>
    <div>
        <form th:object="${part}" class="form-input" th:action="@{/savepart}" action="#" method="post">
            <label for="id">Id:</label><br>
            <input type="text" id="id" th:field="*{partId}" /><br>
            <p th:if="${#fields.hasErrors('partId')}" class="error-message" th:errors="*{partId}">Id Error</p><br>

            <label for="name">Name:</label><br>
            <input type="text" id="name" th:field="*{name}" /><br>
            <p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}">Name Error</p><br>

            <label for="srfcarea">Surface Area:</label><br>
            <input type="number" id="srfcarea" th:field="*{surfaceArea}" /><br>

            <label for="basemtrl">Base Material:</label><br>
            <input type="text" id="basemtrl" th:field="*{baseMaterial}" /><br>

            <label for="supplierlist">Supplier:</label>
            <select id="supplierlist" th:field="*{supplier}" class="form-control" required>
                <option th:each="supplier : ${suppliers}" th:value="${supplier.supplierId}" th:text="${supplier.name}">
                </option>
            </select>
            <input type="submit" value="Save" class="btn btn-success"></input><br>
            <br>
        </form>
        <a href="/listparts" class="btn btn-danger">Back</a><br>
        <br>
        <a href="/index" class="btn btn-danger">Home</a>
    </div>
</body>

</html>