<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>PartsOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Processes</h1>
    <table class="table table-striped">
        <tr>
            <th>Process Id</th>
            <th>Part Id</th>
            <th>Part Name</th>
            <th>Plating Id</th>
            <th>Thickness</th>
        </tr>
        <tr th:each="process : ${processes}">
            <td th:text="${process.processId}"></td>
            <td th:text="${process.part.partId}"></td>
            <td th:text="${process.part.name}"></td>
            <td th:text="${process.plating.platingId}"></td>
            <td th:text="${process.thickness}"></td>
            <td><a th:href="@{/editprocess/{id}(id=${process.processId})}" class="btn btn-success">Edit</a></td>
            <td><a th:href="@{/deleteprocess/{id}(id=${process.processId})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
    <br>
    <a href="/addprocess" class="btn btn-success">Add a process</a><br>
    <br>
    <a href="/index" class="btn btn-danger">Home</a>
    </br>
</body>

</html>