<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>PartsOS Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Log in to PartsOS:</h1>
    <p th:if="${param.error}">
        Invalid username and password.
    </p>
    <p th:if="${param.logout}">
        You have been logged out.
    </p>
    <form th:action="@{/login}" method="post">
        <p>
            <label for="username">User Name:</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="Log In" class="btn btn-success">
        </p>
    </form>
</body>

</html>