<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>PartsOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Search Results:</h1>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surface Area</th>
            <th>Base Material</th>
            <th>Supplier</th>
        </tr>
        <tr th:each="part : ${parts}">
            <td th:text="${part.partId}"></td>
            <td th:text="${part.name}"></td>
            <td th:text="${part.surfaceArea}"></td>
            <td th:text="${part.baseMaterial}"></td>
            <td th:text="${part.supplier.name}"></td>
            <td><a th:href="@{/editpart/{id}(id=${part.partId})}" class="btn btn-success">Edit</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletepart/{id}(id=${part.partId})}"
                    class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
    <br>
    <a href="/searchparts" class="btn btn-success">Search</a><br>
    <br>
    <a href="/addpart" class="btn btn-success">Add</a><br>
    <br>
    <a href="/index" class="btn btn-danger">Home</a>
    </br>
</body>

</html>